body {
    background-color: #ffdee6;
    font-family: Arial, sans-serif;
    @media (max-width: 350px) {
        font-size: 12px;
    }
    @media (max-width: 300px) {
        font-size: 10px;
    }
}

a {
    text-decoration: none;
    color: black;
}

.base_info {
    display: flex;
    height: 70px;
    @media (max-width: 275px) {
        height: 60px;
    }
}

.right_icons {
    margin-left: auto;
    display: flex;
}

.icon {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    max-height: inherit;
}

.icon_image {
    display: flex;
    margin: auto;
    height: 70%;
}

.icon_text {
    display: flex;
    justify-content: center;
    height: 30%;
    @media (max-width: 410px) {
        display: none;
    }
}

.instrument_classes_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.instrument_class {
    border-radius: 10%;
    background-color: #ffc4d6;
    margin: 5px 10px;
    padding: 10px;
    display: flex;
    border: 1px solid blueviolet;
    justify-content: center;
}

.instrument_class:hover {
    background-color: rgba(255, 147, 179, 1);
}

.active {
    background-color: #ff679c;
}

main {
    display: flex;
}

#filters {
    display: flex;
    flex-direction: column;
    width: 30%;
    @media (max-width: 560px) {
        display: none;
    }
}

.catalog {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffc4d6;
}

#basket {
    flex-direction: column;
}

.review {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

.review_title {
    font-weight: bold;
}

.catalog_item {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    max-width: 140px;
    max-height: 260px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item_image {
    display: flex;
    height: 90%;
    width: 100%;
}

.item_name {
    display: flex;
    justify-content: center;
    margin: auto;
}

td, th {
    border: 1px solid black;
    text-align: center;
    @media (max-width: 440px) {
        font-size: 15px;
    }
    @media (max-width: 420px) {
        font-size: 14px;
    }
    @media (max-width: 400px) {
        font-size: 13px;
    }
    @media (max-width: 370px) {
        font-size: 12px;
    }
    @media (max-width: 340px) {
        font-size: 11px;
    }
    @media (max-width: 320px) {
        font-size: 10px;
    }
    @media (max-width: 300px) {
        font-size: 9px;
    }
    @media (max-width: 270px) {
        font-size: 8px;
    }
}

tr:nth-child(2n+1) {
    background-color: rgba(236, 180, 197, 0.82);
}

th {
    background-color: rgba(205, 128, 143, 0.7);
}

footer {
    margin-top: 10px;
    width: 100%;
    background-color: #ffc4d6;
    display: flex;
}

.random_footer_info {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}