body {
    background-color: pink;
}

.base_info {
    background-color: bisque;
    display: flex;
    height: 70px;
}

.right_icons {
    margin-left: auto;
    /*border: 1px solid red;*/
    height: inherit;
}

.header_icon {
    height: inherit;
}

.instrument_classes_block {
    border: 1px solid red;
    background-color: violet;
    display: flex;
}

.instrument_class {
    width: 100%;
    margin: auto;
    padding: 10px;
    display: flex;
    border: 1px solid red;
    justify-content: center;
}

footer {
    background-color: violet;
    display: flex;
}

.random_footer_info {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

main {
    background-color: lightblue;
    display: flex;
}

.catalog {
    margin: auto;
    display: flex;
    justify-content: center;
}