body {
    background-color: pink;
    font-family: Arial, sans-serif;
}

.base_info {
    display: flex;
    height: 70px;
}

.right_icons {
    margin-left: auto;
    display: flex;
    /*height: inherit;*/
    min-height: 70px;
    max-height: 90px;
}

.icon {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    max-height: inherit;
    min-height: 30px;
}

.icon_image {
    display: flex;
    margin: auto;
    height: 70%;
}

.icon_text {
    display: flex;
    justify-content: center;
    height: 30%;
}

.instrument_classes_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
}

.instrument_class {
    border-radius: 10%;
    background-color: #ee82b3;
    margin: 5px 10px;
    padding: 10px;
    display: flex;
    border: 1px solid blueviolet;
    justify-content: center;
}

footer {
    margin: 10px 0;
    width: 100%;
    background-color: #ee82b3;
    display: flex;
}

.random_footer_info {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
}

.filters {
    display: flex;
    flex-direction: column;
    width: 30%;
}

@media (max-width: 500px) {
    .filters {
        display: none;
    }
}

.catalog {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ee8282;
}

.catalog_item {
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 140px;
    max-height: 260px;
    filter: drop-shadow(0 0 0.75rem gray);
}

.item_image {
    display: flex;
    height: 90%;
    width: 100%;
}

.item_name {
    display: flex;
    justify-content: center;
    margin: auto;
}